<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- Include Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-pzjw4NxyA7ADLlZ0f/DS83I5O7jsDePsC3nmQJw4rISwMx6fe7T9CjQyC9dFO2F21" crossorigin="anonymous">


    <title>Course List</title>
    <script src="./js/display.js"></script>
    <link href="./css/display2.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


</head>

<body class="bg font-sans min-h-screen">
    <div class="moving-line-container text-lg">
        <div class="moving-line r">
            Hey Champ, <%- a.firstName %>! We welcome you to our Learn-er community. We are waiting for you to Learn where Learn-er helps you.
        </div>
    </div>
    <div class="navbar bg-gray-900 text-white p-4 mb-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <div class="navbar-logo">
                    <img src="https://i.postimg.cc/CxMyyxZM/learn-er-high-resolution-logo-transparent-1.png"
                        alt="Logo" class="max-h-10">
                </div>
                <div class="relative flex items-center">
                    <i class="fas fa-search text-gray-700 mr-2"></i>
                    <input type="search" placeholder="Search"
                        class="w-96 pl-10 pr-4 py-2 rounded-full bg-white text-gray-700 focus:outline-none border border-green-600 shadow-2xl transition-transform duration-300 transform scale-100 hover:scale-105"
                        data-search>
                </div>

            </div>
            <div class="flex space-x-8 ">
                <a href="#" class="text-white">Home</a>
                <a href="/about" class="text-white">About</a>
                <a href="/contact" class="text-white">Contact</a>

                <a href="/mycoursestudent/<%=b%>" class="text-white">mycourse</a>

            </div>
            <div class="flex space-x-4 absolute top-40 right-4">
                <a href="/signout" class="btn btn-danger">Sign Out</a>
                <a href="/change" class="btn btn-secondary">Change Password</a>
            </div>
        </div>
    </div>
    
    <div class="min-h-screen  p-8">
    
        <div class="max-w-screen-xl mx-auto">

            <div class="m-4 p-4 text-black-700 text-left ">
                <%- include("notifications.ejs") %>
                    <!-- Apply Tailwind CSS classes for styling -->
                    <p class="text-4xl font-extrabold text-black-700">Welcome <%- a.firstName %> as a Learn-er Let's
                            start your learning Journey!</p>

            </div>


            <div class="text-center mt-4">

                <a href="/mycoursestudent/<%=a.id%>"
                    class="block bg-red-300 text-white font-semibold px-4 py-2 rounded-lg hover:bg-black transition duration-300 ease-in-out">My
                    Course</a>
            </div>


            <br>
            <hr class="h-1 bg-gray-800 shadow-xl my-8">

            <div class="mt-8">
                <!-- Add a header section with a professional color -->
                <p class="text-center text-red-100 text-1xl">Note: here you can find the courses that you have not
                    enrolled yet. When you enroll a course you will find it in My course section</p>
                <div class="text-3xl font-bold mb-4 text-center text-black">Available Course List</div>
            </div>
            <div class="flex flex-grow flex-wrap -mx-4 c1">
                <!-- Create a row of course boxes with a professional light green background -->
                <% for (let pack of notesForFilterPacks) { %>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4" data-pack>
                        <div
                            class="p-6 bg-red-300 text-gray-800 rounded-lg shadow-md hover:bg-black hover:text-white transition duration-300 ease-in-out transform hover:scale-105">
                            <div class="text-xl font-bold mb-2">
                                <%= pack.heading %>
                                    <a href="/enroll/<%= pack.id %>"
                                        class="btn btn-secondary">Enroll</a>
                                    <a href="/viewcourses/<%= pack.id %>"
                                        class="btn btn-danger">Visit</a>
                            </div>

                            <ul>
                                <!-- List the chapters -->
                                <% for (let users of userss ) { %>
                                    <% if (users.id==pack.userId) { %>
                                        <h1 class="text-xl font-semibold mb-2">Author: <%= users.firstName %>
                                                <%= users.lastName %>
                                        </h1>
                                        <% } %>
                                            <% } %>
                            </ul>

                            <% let i=0; for (let enroll of enrolls) { %>
                                <% if (pack.id==enroll.courseId) { i++ %>



                                    <% } %>

                                        <% } %>

                                            <h1 class="text-xl font-semibold mb-2"><i class="fas fa-user-graduate"></i>
                                                Enrolled Students: <%= i %>
                                            </h1>


                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>

</body>

</html>